.bubble {
    background-size: 400% 400%;
    position: absolute;
    background-image: url('../assets/bubble_sprite_sheet.png');
/*
    transition: transform 2s ease-in;
    transition: -webkit-transform 1.2s ease-in;
*/
}


/*.curr_bubble {*/
/*    used with .bubble*/
/*    left: 50%;*/
/*    top: 93%;*/
/*
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
*/
/*}*/


.bubble0 {
    background-position: 0% 0%;
}

.bubble1 {
    background-position: 0% 33.33333333%;
}

.bubble2 {
    background-position: 0% 66.66666667%;
}

.bubble3 {
    background-position: 0% 100%;
}
